<app-header></app-header>

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Menu de Visualização de Propostas</h1>
    <p class="lead text-muted">Explore todas as propostas disponíveis! Descubra insights valiosos, veja os detalhes e,
      se necessário, edite para deixar tudo perfeito.
    </p>
  </div>
</section>

<div class="row">
  <div *ngFor="let card of cards" class="col-md-4">
    <div class="card mb-4 box-shadow">
      <div class="card-body">
        <p class="card-text">{{ card.summary }}</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary" (click)="viewCard(card.id)">Detalhes</button>
            <button type="button" class="btn btn-sm btn-outline-secondary" (click)="editCard(card.id)">Editar</button>
          </div>
          <small>{{ card.author }}</small>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center my-4">
  <button class="btn btn-primary mx-1" (click)="prevPage()" [disabled]="currentPage === 1">
    Anterior
  </button>

  <button class="btn btn-primary mx-1" (click)="nextPage()" [disabled]="currentPage === totalPages">
    Próxima
  </button>
</div>

<div class="text-center mb-4">
  Página {{ currentPage }} de {{ totalPages }}
</div>