<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form (ngSubmit)="onSubmit()">
          <h1>Faça seu cadastro</h1>

          <label class="form-label" for="form3Example3">Usuário</label>
          <div class="form-outline mb-4">
            <input type="text" id="form3Example3" class="form-control form-control-lg"
              placeholder="Digite seu usuário" [(ngModel)]="user.login" name="login" required />
          </div>

          <label class="form-label" for="form3Example4">Senha</label>
          <div class="form-outline mb-3">
            <input type="password" id="form3Example4" class="form-control form-control-lg"
              placeholder="Digite sua senha" [(ngModel)]="user.password" name="password" required minlength="6" />
          </div>

          <label class="form-label" for="form3Example5">Confirme a senha</label>
          <div class="form-outline mb-3">
            <input type="password" id="form3Example5" class="form-control form-control-lg"
              placeholder="Redigite sua senha" [(ngModel)]="user.confirmPassword" name="confirmPassword" required />
          </div>

          <div *ngIf="passwordMismatch" class="text-danger">
            As senhas não coincidem. Por favor, verifique.
          </div>

          <div *ngIf="completedRegister" class="text">
            Usuário cadastrado com sucesso, Faça login e aproveite!
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="btn btn-primary btn-lg"
              >Cadastrar</button>
            <p class="small fw-bold mt-2 pt-1 mb-0">Já é cadastrado? <a routerLink="../login"
                class="link-danger">Faça login</a></p>
          </div>
        </form>
      </div>
    </div>
  </div>

</section>

